@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.opacity {
    display: none;
}

.active-item {
    text-decoration: underline;
    color: #3d9acc;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    user-select: none;
}
/* 
.all-sports {
    display: none;
}

.men {
    display: none;
}

.women {
    display: none;
}

.kid {
    display: none;
}

.sports {
    display: none;
}

.gym {
    display: none;
} */